<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_sigti"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_sigti_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SIGTI"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.support.MyReportsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.support.SolucionRapidaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.support.AyudaDetalleActivity"
            android:exported="false" />
        <activity
            android:name=".ui.register.ConfigurarFotoActivity"
            android:exported="false" />

        <service
            android:name=".notifications.SigtiMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.support.ComoFunciona2Activity"
            android:exported="false" />
        <activity
            android:name=".ui.support.ComoFunciona1Activity"
            android:exported="false" />
        <activity android:name=".ui.support.AyudaActivity" />
        <activity android:name=".ui.support.TerminosActivity" />
        <activity android:name=".ui.support.FullImageActivity" />
        <activity
            android:name=".ui.profile.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.MyDataActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.ProviderRedirectActivity"
            android:exported="false" />
        <activity
            android:name=".ui.provider.home.RequestDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.provider.catalog.AddServiceActivity"
            android:exported="false" />
        <activity
            android:name=".ui.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.SplashSigti">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.auth.AuthEntryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.PasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.VerifyEmailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.GoogleCompleteProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.role.RoleActivity"
            android:exported="false" />
        <activity
            android:name=".ui.register.RegisterGeneralActivity"
            android:exported="false" />
        <activity
            android:name=".ui.register.PrestadorExtraActivity"
            android:exported="false" />
        <activity
            android:name=".ui.register.SolicitanteExtraActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.UserMapActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.UserChatsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.chat.ChatDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.WorkerProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.provider.home.ProviderHomeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.provider.jobs.ProviderJobsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.provider.chat.ProviderChatActivity"
            android:exported="false" />
        <activity
            android:name=".ui.provider.catalog.ProviderCatalogActivity"
            android:exported="false" />
        <activity
            android:name=".ui.provider.profile.ProviderProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.provider.plans.ProviderPlansActivity"
            android:exported="false" />
        <activity
            android:name=".ui.request.NewRequestActivity"
            android:exported="false"
            android:theme="@style/Theme.SIGTI" />
        <activity
            android:name=".ui.support.ReportActivity"
            android:exported="false" />
        <activity
            android:name=".ui.support.ReviewsActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity android:name=".ui.support.ReviewActivity1" />
        <activity android:name=".ui.support.QueEsSigtiActivity" />
        <activity android:name=".ui.chat.FullScreenImageActivity"/>
    </application>

</manifest>